/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Define font variables */
:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Fraunces", serif;

  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

.text-preset1 {
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0rem;
}

.text-preset2 {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: .875rem;
    line-height: 110%;
    letter-spacing: 0rem;
}

.text-preset3 {
    font-family: 'Montserrat', serif;
    font-weight: medium;
    font-size: .875rem;
    line-height: 160%;
    letter-spacing: 0rem;
}

.text-preset4 {
    font-family: 'Montserrat', serif;
    font-weight: medium;
    font-size: .75rem;
    line-height: 120%;
    letter-spacing: .3125rem;
}
.text-preset5 {
    font-family: 'Montserrat', serif;
    font-weight: medium;
    font-size: .8125rem;
    line-height: 120%;
    letter-spacing: 0rem;
}

body {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
}

.card {
  display: grid;
  margin: auto 1rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  overflow: clip;
  max-width: 37rem;
}

@media (min-width: 48rem) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
  }

.image {
  object-fit: cover;
}

@media (min-width: 768px) {
    .image {
        height: 100%;
        object-fit: cover;
    }
  }

.card-content {
  margin: 1.5rem;
}

.category {
    color: var(--grey)
}

.title {
    margin: 1.5rem 0;
    color: var(--black);
}

.pricing {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
    align-items: center;
    gap: 1rem
}

.price {
    color: var(--green-500)
}

.sales-price {
    text-decoration: line-through;
    color: var(--grey);
}

.add-to-cart {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: var(--green-500);
    border: none;
    color: var(--white);
    width: 100%;
    padding: 1rem 2rem;
    border-radius: .5rem;

}

.add-to-cart:hover {
    background-color: var(--green-700);
}

.cart-icon{
    font-size: 18px;
}

footer{
    margin: 3rem 1rem;
}